# **Demo: Pengolahan data gempabumi**

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

#**Memasukkan file csv dari gempa**

In [5]:
df1 = pd.read_csv('Gempa-Juli-26Dec2021.csv')

#**Filter berdasarkan nama petugas yaitu Purnama**

In [6]:
df_pur = df1.loc[df1['Petugas'] == 'purnama']

In [7]:
df_pur.head()

,Tanggal,Origin (UTC),Lintang,Bujur,Magnitudo,Depth,Ket,Terasa,Dampak,Sumber,Petugas,Created,Updated,Actions
6,02-07-2021,17:46:47.8,-3.16,135.22,3.6,10,71 km BaratLaut NABIRE-PAPUA,tidak,NaN,angkasa,purnama,NaN,2021-07-02 17:59:04,Press Release \t \t\t \t\t\t \t\t \t\t \t ...
7,02-07-2021,18:16:52.8,-3.16,135.22,3.1,10,71 km BaratLaut NABIRE-PAPUA,tidak,NaN,angkasa,purnama,NaN,2021-07-02 18:34:52,Press Release \t \t\t \t\t\t \t\t \t\t \t ...
15,06-07-2021,01:06:49.7,-1.58,134.27,3.6,29,16 km Tenggara RANSIKI-PAPUABRT,dirasakan,dirasakan II MMI di Ransiki,angkasa,purnama,NaN,2021-07-06 04:25:47,Press Release \t \t\t \t\t\t \t\t \t\t \t ...
16,06-07-2021,00:48:22.0,-4.23,133.84,3.0,10,105 km BaratDaya KAIMANA-PAPUABRT,tidak,NaN,pgr v,purnama,2021-07-06 01:23:17,2021-07-06 01:23:30,Press Release \t \t\t \t\t\t \t\t \t\t \t ...
17,06-07-2021,02:19:41.2,-2.04,140.79,3.1,10,62 km TimurLaut KOTA-JAYAPURA-PAPUA,tidak,NaN,angkasa,purnama,NaN,2021-07-06 04:25:57,Press Release \t \t\t \t\t\t \t\t \t\t \t ...

#**Drop beberapa kolom dan urutkan berdasarkan tanggal lalu ambil data dari bulan tertentu semisal bulan Juli maka ketik 7**

In [8]:
data = df_pur.drop(columns=['Created', 'Updated', 'Petugas', 'Dampak', 'Actions', 'Sumber'])

In [9]:
data= data.sort_values(by = 'Tanggal')
data.head()

,Tanggal,Origin (UTC),Lintang,Bujur,Magnitudo,Depth,Ket,Terasa
610,01-11-2021,13:41:30.2,-0.72,131.25,3.6,10,19 km BaratLaut KOTA-SORONG-PAPUABRT,dirasakan
6,02-07-2021,17:46:47.8,-3.16,135.22,3.6,10,71 km BaratLaut NABIRE-PAPUA,tidak
7,02-07-2021,18:16:52.8,-3.16,135.22,3.1,10,71 km BaratLaut NABIRE-PAPUA,tidak
613,02-11-2021,08:39:00.0,-1.74,133.03,2.6,10,67 km BaratLaut TELUKBINTUNI-PAPUABRT,tidak
611,02-11-2021,01:47:03.5,-2.67,140.56,2.3,10,13 km BaratDaya KOTA-JAYAPURA-PAPUA,tidak

In [10]:
pd.to_datetime( data['Tanggal'], format='%d-%m-%Y', errors='coerce', dayfirst=True)

610   2021-11-01
6     2021-07-02
7     2021-07-02
613   2021-11-02
611   2021-11-02
         ...
335   2021-08-30
709   2021-11-30
710   2021-11-30
138   2021-07-31
137   2021-07-31
Name: Tanggal, Length: 242, dtype: datetime64[ns]

In [11]:
import datetime as dt
data['Tanggal'] = pd.to_datetime(data['Tanggal'], format='%d-%m-%Y', dayfirst=True)

#data['month'] = data['Tanggal'].dt.month

In [12]:
#menambah kolom data bulan 

data['month'] = data['Tanggal'].dt.month

In [13]:
#Mengambil data bulan Juli
#Jika mengambil data seluruh bulan, maka bagian ini tidak perlu di running
data = data.loc[data['month'] == 7]

In [14]:
data.head()

,Tanggal,Origin (UTC),Lintang,Bujur,Magnitudo,Depth,Ket,Terasa,month
6,2021-07-02,17:46:47.8,-3.16,135.22,3.6,10,71 km BaratLaut NABIRE-PAPUA,tidak,7
7,2021-07-02,18:16:52.8,-3.16,135.22,3.1,10,71 km BaratLaut NABIRE-PAPUA,tidak,7
19,2021-07-06,07:47:19.4,-2.18,140.40,3.1,10,45 km BaratLaut KAB-JAYAPURA-PAPUA,tidak,7
18,2021-07-06,04:11:00.1,-3.76,133.57,2.9,10,67 km BaratDaya KAIMANA-PAPUABRT,tidak,7
17,2021-07-06,02:19:41.2,-2.04,140.79,3.1,10,62 km TimurLaut KOTA-JAYAPURA-PAPUA,tidak,7

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 6 to 137
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tanggal       32 non-null     datetime64[ns]
 1   Origin (UTC)  32 non-null     object
 2   Lintang       32 non-null     float64
 3   Bujur         32 non-null     float64
 4   Magnitudo     32 non-null     float64
 5   Depth         32 non-null     int64
 6   Ket           32 non-null     object
 7   Terasa        32 non-null     object
 8   month         32 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 2.5+ KB

In [16]:
#urutkan berdasarkan tanggal
data= data.sort_values(by = 'Tanggal')
data.head()

,Tanggal,Origin (UTC),Lintang,Bujur,Magnitudo,Depth,Ket,Terasa,month
6,2021-07-02,17:46:47.8,-3.16,135.22,3.6,10,71 km BaratLaut NABIRE-PAPUA,tidak,7
7,2021-07-02,18:16:52.8,-3.16,135.22,3.1,10,71 km BaratLaut NABIRE-PAPUA,tidak,7
19,2021-07-06,07:47:19.4,-2.18,140.40,3.1,10,45 km BaratLaut KAB-JAYAPURA-PAPUA,tidak,7
18,2021-07-06,04:11:00.1,-3.76,133.57,2.9,10,67 km BaratDaya KAIMANA-PAPUABRT,tidak,7
17,2021-07-06,02:19:41.2,-2.04,140.79,3.1,10,62 km TimurLaut KOTA-JAYAPURA-PAPUA,tidak,7

#**Membuat tampilan histogram pada data**

In [ ]:
data.hist(column = ["Lintang",  "Bujur", "Magnitudo", "Depth"], bins=10, figsize = (9, 12))

In [ ]:
interval_magnitude = [1,2,3,4,5,6]
label = ['1-2','2-3','3-4','4-5','5-6']
data['interval_magnitude'] = pd.cut(data['Magnitudo'], bins=interval_magnitude, labels=label)
plt.rcParams['figure.figsize'] = [10, 5]
interval_magnitude = pd.crosstab(data.interval_magnitude,data.Terasa,normalize='index')
interval_magnitude.plot.bar(stacked=True)
plt.legend(title='Dampak',loc='upper left',bbox_to_anchor=(1, 0.5))

In [ ]:
interval_depth = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
label = ['10-20','20-30','30-40','40-50','50-60', '60-70', '70-80', '80-90', '90-100', '100-110', '110-120', '120-130', '130-140', '140-150']
data['interval_depth'] = pd.cut(data['Depth'], bins=interval_depth, labels=label)
plt.rcParams['figure.figsize'] = [10, 5]
interval_depth = pd.crosstab(data.interval_depth, data.Terasa,normalize='index')
interval_depth.plot.bar(stacked=True)
plt.legend(title='Dampak',loc='upper left',bbox_to_anchor=(1, 0.5))

###**Filter data berdasarkan besar magnitudo dan kedalaman (depth) untuk divisualisasikan dan dianalisis**

In [ ]:
#Filter data gempa dengan magnitudo < 3

df_3M = data.loc[(data['Magnitudo'] < 3)]
df_3M.head()

In [ ]:
#Filter data gempa dengan magnitudo >= 3 dan <=5

df_3M5 = data.loc[(data['Magnitudo'] >= 3) & (data['Magnitudo'] <=5)]
df_3M5.head()

In [ ]:
#Filter data gempa dengan magnitudo > 5

df_M5 = data.loc[(data['Magnitudo'] > 5)]
df_M5.head()

In [ ]:
#Menghitung jumlah gempa dengan magnitudo < 3

count_df3m=len(df_3M["Magnitudo"])
print(count_df3m)

In [ ]:
#Menghitung jumlah gempa dengan magnitudo >= 3 dan >= 5

count_df3m5=len(df_3M5["Magnitudo"])
print(count_df3m5)

In [ ]:
#Menghitung jumlah gempa dengan magnitudo > 5

count_dfm5=len(df_M5["Magnitudo"])
print(count_dfm5)

In [ ]:
#Membuat kolom untuk tabel baru hasil pengelompokkan berdasarkan besar magnitudo

new_columns = ['M<3', '3<=M<=5', 'M>5']
new_values = [count_df3m, count_df3m5, count_dfm5]
list_tuples = list(zip(new_columns, new_values))  
print(list_tuples)

In [ ]:
#Membuat tabel dari kolom yang telah dibuat

dframe = pd.DataFrame(list_tuples, columns=['Magnitude', 'Counts'])
print(dframe)

In [ ]:
#menampilkan grafik hasil pengolahan magnitudo dari bulan Juli-Desember 2021 berdasarkan besar magnitudo

sns.barplot(x = 'Magnitude',y = 'Counts',data = dframe)
plt.savefig('gempa-juli-magnitude-2021.png')
im = Image.open('gempa-juli-magnitude-2021.png')
rgb_im = im.convert('RGB')
rgb_im.save('gempa-juli-magnitude-2021.jpg')

In [ ]:
#Filter data gempa dengan kedalaman (Depth) yaitu untuk Depth < 70, 70<= Depth <=300, dan Depth >300

df_7D = data.loc[(data['Depth'] < 70)]
df_7D3 = data.loc[(data['Depth'] >= 70) & (data['Depth'] <=300)]
df_D3 = data.loc[(data['Depth'] > 300)]

In [ ]:
#Menghitung jumlah gempa berdasarkan kedalaman (Depth) yaitu untuk Depth < 70, 70<= Depth <=300, dan Depth >300

count_df7d=len(df_7D["Depth"])
count_df7d3=len(df_7D3["Depth"])
count_dfd3=len(df_D3["Depth"])

In [ ]:
#Membuat kolom untuk tabel baru berdasarkan pengelompokkan kedalaman gempa

cols = ['D<70', '70<=D<=300', 'D>300']
vals = [count_df7d, count_df7d3, count_dfd3]
tupl = list(zip(cols, vals))  
print(tupl)

In [ ]:
#Membuat tabel baru berdasarkan kedalaman gempa

dframe1 = pd.DataFrame(tupl, columns=['Depth', 'Counts'])
print(dframe1)

In [ ]:
#Menyimpan semua tabel di dalam file excel yang dipisah-pisahkan per sheet

with pd.ExcelWriter('quake-juli2021.xlsx') as writer:
    dframe.to_excel(writer, sheet_name='magnitude')
    dframe1.to_excel(writer, sheet_name='depth')

In [ ]:
#Menampilkan grafik kejadian gempabumi berdasarkan kedalamannya

sns.barplot(x = 'Depth',y = 'Counts',data = dframe1)
plt.savefig('gempa-juli-depth-2021.png')
im = Image.open('gempa-juli-depth-2021.png')
rgb_im = im.convert('RGB')
rgb_im.save('gempa-juli-depth-2021.jpg')